body {
  margin: auto;
  max-width: 100%;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* menubar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555555;
}

li {
  float: left;
}

.menubar {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.menubar:hover {
  background-color: #3d3d3d;
}

/* link list */
.link_list:link {
  color: black;
  text-decoration: none;
}
.link_list:visited {
  color: black;
  text-decoration: none;
}
.link_list:hover {
  color: white;
  background-color: #3d3d3d;
}
.link_list:active {
  color: black;
  text-decoration: none;
}
.link_list_header {
  float: left;
}

/* plan view */
.plan_table {
  overflow-x: auto;
}

.plan_period {
  max-width: 50px;
}

.plan_table_input_recipe {
  max-width: 170px;
}

.plan_table_input_notes {
  max-width: 200px;
}

/* input fields */
input, select {
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
  border-width: thin;
  border-radius: 3px;
  padding: 5px 6px;
  background-color: #f8f8ff;
}

option {
  background-color: #f8f8ff
}


/* buttons */
.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 7px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #3d3d3d;
}


