{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nimikkeen muokkaus{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if 'previous_page' in session %}
  {% if session['previous_page'] == 'recipe' %}
    <form action={{session['previous_page_url']}} method="get">
      <input type="submit" class="button" value="Takaisin reseptin muokkaukseen">
    </form>
  {% endif %}
  {% if session['previous_page'] == 'shopping_list' %}
    <form action={{session['previous_page_url']}} method="get">
      <input type="submit" class="button" value="Takaisin ostoslistan muokkaukseen">
    </form>
  {% endif %}
  {% if session['previous_page'] == 'item' %}
    <form action="/item" method="get">
      <input type="submit" class="button" value="Takaisin nimikelistaan">
    </form>
  {% endif %}
{% endif %}

<br>

<form action="/item_save" method="post">

<table>
  <tr>
    <td><label>Nimike:</label></td>
    <td><input type="text" name="item_name" value="{{item_name}}"></td>
  </tr>
  <tr>
    <td><label>Luokka:</label></td>
    <td>
      <select name="item_class">
        {% for i in range(number_of_classes) %}
          <option value="{{class_list[i]}}" {% if item_class == class_list[i]: %}selected="selected"{% endif %}>{{class_list[i]}}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
</table>

<br>

<table>
  <tr>
    <td>
      <input type="hidden" name="item_id" value={{item_id}}>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" class="button" value="Tallenna">
      </form>
    </td>
    <td>
      <form action="/item_details/{{item_id}}" method="get">
        <input type="submit" class="button" value="Peru tallentamattomat muutokset">
      </form>
    </td>
  </tr>
</table>

{% endblock %}
