{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ruokalista{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
  <tr>
    <td>
      <form action="/plan_change_date" method="post">
        <label>Aloituspäivä</label>
        <input type="date" name="startdate" value={{ startdate }}>
        <input type="submit" class="button" value="Vaihda aloituspäivä">
        <input type="hidden" name="plan_id" value="{{ plan_id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
    </td>
    <td>
      <form action="/plan_change_period" method="post">
        <label>Suunnittelujakso</label>
        <input type="number" name="period" value={{ period }}>
        <input type="submit" class="button" value="Vaihda suunnittelujakso">
        <input type="hidden" name="plan_id" value="{{ plan_id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
    </td>
  </tr>
</table>

<br>

<datalist id="recipes">
{% for recipe in recipes %}
<option>{{ recipe }}</option>
{% endfor %}
</datalist>

<form name=form_rows action="/plan_save_rows" method="post">

<div class="plan_table">
<table>
  <tr>
    <th>Päivä</th>
    <th>Viikonpäivä</th>
    <th>Lounas</th>
    <th>Päivällinen</th>
    <th>Lisäruoka</th>
    <th>Muistiinpanot</th>
  </tr>


{% for i in range(period) %}
<tr>
<td>{{ dates[i] }}</td>
<td>{{ weekdays[i] }}</td>
{% for j in range(3) %}
<td><input class="plan_table_input_recipe" type="text" name="{{ i }}_{{ j }}" list="recipes" value="{{ selected_recipes[i][j] }}" /></td>
{% endfor %}
<td><input type="text" class="plan_table_input_notes" name="{{ i }}_notes" value="{{ notes[i] }}" /></td>
<tr>
{% endfor %}
</table>
</div>

<br>

<table>
  <tr>
    <td>
      <input type="hidden" name="plan_id" value="{{ plan_id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" class="button" value="Tallenna suunnitelma">
      <button type="submit" class="button" formaction="/plan_create_shopping_list">Luo ostoslista</button>
      </form>
    </td>
    <td>
      <form action="/plan_show_default_shopping_list" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" class="button" value="Näytä viimeisin luotu ostoslista">
      </form>  
    </td>
  </tr>
</table>

{% endblock %}


