{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Omat tiedot{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/profile" method="post">
  <table>
    <tr>
      <td>
        <label>Käyttäjätunnus:</label>
      </td>
      <td>
        <input type="text" name="username" value="{{username}}">
      </td>
    </tr>
    <tr>
      <td>
        <label>Salasana:</label>
      </td>
      <td>
        <input type="password" name="password">
      </td>
     </tr>
    <tr>
      <td>
        <label>Salasana uudestaan:</label>
      </td>
      <td>
        <input type="password" name="password_check">
      </td>
    </tr>
  </table>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" class="button" value="Tallenna">
</form>
{% endblock %}


