{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reseptin muokkaus{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
<tr>
<td>
<form action="/recipe_add_row" method="post">
<input type="hidden" name="recipe_id" value="{{ recipe_id }}">
<input type="submit" value="Lisää rivi">
</form>
</td>
<td>
<form action="/recipe_delete_row" id="form_delete" method="post">
<input type="submit" value="Poista valitut rivit">
<input type="hidden" name="recipe_id" value="{{ recipe_id }}">
<input type="hidden" name="number_of_rows" value="{{ number_of_rows }}">
</form>
</td>
</tr>
</table>

<br>

<form action="/recipe_save" method="post">

<table>
<tr>
<td><label>Resepti:</label></td><td><input type="text" name="recipe_name" value="{{recipe_name}}"></td>
</tr>
</table>

<br>

<datalist id="item_names">
{% for name in item_list %}
<option>{{ name }}</option>
{% endfor %}
</datalist>


<table>
{% for i in range(number_of_rows) %}
<tr>
<td><input type="hidden" name="{{i}}_row_id" value={{row_ids[i]}}></td>

<td>
<input type="checkbox" name="{{i}}_selected" form="form_delete" value={{row_ids[i]}}>
</td>

<td>Aines:</td><td>
<input type="text" name="{{i}}_row_name" list="item_names" value="{{ row_names[i] }}" />
</td>


<td>Määrä:</td><td><input type="text" name="{{i}}_row_amount" value="{{row_amounts[i]}}"></td></td>
{% endfor %}
</tr>
</table>

<br>

<input type="hidden" name="recipe_id" value={{recipe_id}}>
<input type="hidden" name="number_of_rows" value={{number_of_rows}}>
<input type="submit" value="Tallenna">

</form>{% endblock %}
