{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reseptin muokkaus{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
  <tr>
    <td>
      <form action="/recipe" method=get">
        <input type="submit" value="Takaisin reseptilistaan">
      </form>
    </td>
  </tr>
</table>

<br>

<table>
  <tr>
    <td>
      <form action="/recipe_add_row" method="post">
        <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Lisää rivi" form="form_main" formaction="/recipe_add_row" >
      </form>
    </td>
    <td>
      <form action="/item_new_from_recipe" method="get">
        <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
        <input type="submit" value="Lisää uusi nimike">
      </form>
    </td>
  </tr>
</table>

<br>

<form action="/recipe_save" id="form_main" method="post">

<table>
  <tr>
    <td>
      <label>Resepti:</label>
    </td>
    <td>
      <input type="text" name="recipe_name" value="{{recipe_name}}">
    </td>
  </tr>
</table>

<br>

  <datalist id="item_names">
    {% for name in item_list %}
      <option>{{ name }}</option>
    {% endfor %}
  </datalist>

  <table>
    <tr>
      <th></th>
      <th>
        <label>Aines</label>
      </th>
      <th>
        <label>Määrä</label>
      </th>
    </tr>
    {% for i in range(number_of_rows) %}
      <tr>
        <td>
          <input type="hidden" name="{{i}}_row_id" value={{row_ids[i]}}>
        </td>
        <td>
          <input type="text" name="{{i}}_row_name" list="item_names" value="{{ row_names[i] }}" />
        </td>
        <td>
          <input type="text" name="{{i}}_row_amount" value="{{row_amounts[i]}}">
        </td>
        <td>
          <input type="image" src="/static/images/delete.png" alt="Poista rivi" width="18" height="18" formaction="/recipe_delete_row/{{row_ids[i]}}" title="Poista rivi" >
        </td>
        <td>
          <input type="image" src="/static/images/edit.png" alt="Muokkaa rivin nimikettä" width="18" height="18" formaction="/item_modify_from_recipe/{{row_ids[i]}}" title="Muokkaa rivin nimikettä" >
        </td>
      </tr>
    {% endfor %}
  </table>

  <br>
  
  <table>
    <tr>
      <td>
        <input type="hidden" name="recipe_id" value={{recipe_id}}>
        <input type="hidden" name="number_of_rows" value={{number_of_rows}}>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Tallenna">
        </form>
      </td>
      <td>
        <form action="/recipe_details/{{recipe_id}}" method="get">
          <input type="submit" value="Peru tallentamattomat muutokset">
        </form>
      </td>
    </tr>
  </table>

{% endblock %}
