{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Luo käyttäjätunnus{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/register" method="post">
  <table>
    <tr>
      <td>
        <label>Käyttäjätunnus:</label>
      </td>
      <td>
        <input type="text" name="username">
      </td>
    </tr>
    <tr>
      <td>
        <label>Salasana:</label>
      </td>
      <td>
        <input type="password" name="password">
      </td>
     </tr>
    <tr>
      <td>
        <label>Salasana uudestaan:</label>
      </td>
      <td>
        <input type="password" name="password_check">
      </td>
    </tr>
  </table>
  <input type="submit" value="Luo käyttäjätunnus">
</form>
{% endblock %}

