{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ostoslistan muokkaus{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
  <tr>
    <td>
      <form action="/shopping_list" method="get">
        <input type="submit" value="Näytä tallennetut ostoslistat">
      </form>
    </td>
    {% if default_list == True %}
    <td>
      <form action="/shopping_list_new_from_default" method="get">
        <input type="submit" value="Tallenna ostoslista nimellä">
      </form>
    </td>
    {% else %}
    <td>
      <form action="/shopping_list_delete" method="post">
        <input type="hidden" name="list_id" value="{{ list_id }}">
        <input type="submit" value="Poista lista">
      </form>
    </td>
    {% endif %}
  </tr>
</table>

<br>

<form action="/shopping_list_add_from_list" method="post">
<input type="hidden" name="list_add_to_id" value={{list_id}}>
<table>
  <tr>
    <td>
      <label>Valitse tallennettu ostoslista:</label>
    </td>
    <td>
      <select name="list_add_from_id">
        {% for i in range(saved_lists | length) %}
          {% if saved_lists[i][0] != list_id %}
            <option value={{saved_lists[i][0]}}>{{saved_lists[i][1]}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </td>
    <td>
      <input type="submit" value="Lisää nimikkeitä valitulta listalta">
    </td>
  </tr>
</table>
</form>

<br>

<table>
  <tr>
    <td>
      <input type="submit" value="Lisää rivi" form="form_main" formaction="/shopping_list_add_row" >
    </td>
    <td>
      <form action="/item_new_from_shopping_list" method="get">
        <input type="hidden" name="list_id" value="{{ list_id }}">
        <input type="submit" value="Lisää uusi nimike">
      </form>
    </td>
  </tr>
</table>

<br>

<form action="/shopping_list_save" id="form_main" method="post" onsubmit="setScrollPosition()" >

{% if 'scroll_pos' in session %}
  <input type="hidden" name="scroll_pos" id="scroll_pos" value={{session['scroll_pos']}}>
{% else %}
  <input type="hidden" name="scroll_pos" id="scroll_pos" value=0>
{% endif %}

{% if default_list != True %}
<table>
  <tr>
    <td>
      <label>Ostoslistan nimi:</label>
    </td>
    <td>
      <input type="text" name="list_name" value="{{list_name}}">
    </td>
  </tr>
</table>
{% endif %}

<br>

  <datalist id="item_names">
    {% for name in item_list %}
      <option>{{ name }}</option>
    {% endfor %}
  </datalist>

  <table>
    <tr>
      <th></th>
      <th></th>
      <th>
        <label>Nimike</label>
      </th>
      <th>
        <label>Määrä</label>
      </th>
    </tr>
    {% for i in range(number_of_rows) %}
      {% if i == 0 or row_class_names[i] != row_class_names[i-1] %}
      <tr><td></td></tr>
      <tr>
        <td colspan="3">
          <label><i>{{row_class_names[i]}}</i></label>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>
          <input type="hidden" name="{{i}}_row_id" value={{row_ids[i]}}>
        </td>
        <td>
          <input type="image" src="/static/images/checked.png" alt="Merkitse ostetuksi" width="18" height="18" formaction="/shopping_list_mark_row/{{row_ids[i]}}" title="Merkitse ostetuksi tai poista merkintä" >
        </td>
        <td>
          <input type="text" name="{{i}}_row_name" list="item_names" value="{{ row_names[i] }}" tabindex="{{i*2+1}}"
          {% if row_marks[i] == 1 %} style="text-decoration: line-through; color:Gray;" {% endif %} />
        </td>
        <td>
          <input type="text" name="{{i}}_row_amount" value="{{row_amounts[i]}}" tabindex="{{i*2+2}}"
            {% if row_marks[i] == 1 %}style="text-decoration: line-through; color:Gray;"{% endif %} >
        </td>
        <td>
          <input type="image" src="/static/images/delete.png" alt="Poista rivi" width="18" height="18" formaction="/shopping_list_delete_row/{{row_ids[i]}}" title="Poista rivi" >
        </td>
        <td>
          <input type="image" src="/static/images/edit.png" alt="Muokkaa rivin nimikettä" width="18" height="18" formaction="/item_modify_from_shopping_list/{{row_ids[i]}}" title="Muokkaa rivin nimikettä" >
        </td>
      </tr>
    {% endfor %}
  </table>

  <br>
  
  <table>
    <tr>
      <td>
        <input type="hidden" name="list_id" value={{list_id}}>
        <input type="hidden" name="number_of_rows" value={{number_of_rows}}>
        <input type="submit" value="Tallenna">
        </form>
      </td>
      <td>
        <form action="/shopping_list_details/{{list_id}}" method="get">
          <input type="submit" value="Peru tallentamattomat muutokset">
        </form>
      </td>
    </tr>
  </table>

<script>

function setScrollPosition() {
  var scroll_position = window.pageYOffset;
  document.getElementById("scroll_pos").value = scroll_position;
}

function scrollToScrollPosition() {
  var scroll_position = document.getElementById("scroll_pos").value;
  window.scrollBy(0, scroll_position);
  document.getElementById("scroll_pos").value = 0;
}

window.onload = scrollToScrollPosition();

</script>

{% endblock %}
