{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tallennetut ostoslistat{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
  <tr>
    <td>
      <form action="/shopping_list" method="get">
        <label>Hae ostoslistoja</label>
        <input type="text" name="query">
        <input type="submit" value="Hae">
      </form>
    </td>
    <td>
      <form action="/shopping_list_new" method="get">
        <input type="submit" value="Lisää uusi ostoslista">
      </form>
    </td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>Ostoslistan nimi</th>
  </tr>

{% for i in range(number_of_lists) %}
<tr>
<td><a href="/shopping_list_details/{{ lists[i][0] }}">{{ lists[i][1] }}</a></td>
</tr>
{% endfor %}
</table>

<br>

{% endblock %}


